/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fav-button {
  background-color: #673ab7;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 6px 12px;
  margin: 8px 0;
}

.disabled-button {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.5;
}